body{
    background-image: url(./images/bgapp.jpg);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }